#contact{
    background-color: rgb(15,76,129);
    height: 10rem;
    text-align: center;
    align-content: center;
    color: white;
    margin: 3rem 0 0 0;
}

.btn-floating i {
    font-size: 1.5rem;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.footer-item a {
    color: white;
    font-size: 1.5rem;
}

.footer-item {
    margin-top: 1.8rem;
    margin-bottom: 2.2rem;
}
